.event-page-layout{
    height: 95vh;
    /* width: 100%; */
    display: grid;
    /* grid-template-rows: 5% 20% 26% 46%; */
    grid-template-rows: 3% 18% 24% 40%;

    row-gap: 0.5rem;
    padding: 7px;
    border-radius: 1.5rem;
    border: solid 1px;

}

/* .event-page-layout > div {
    border: solid 1px;
} */

.ep-status-bar{
    display: flex;
    justify-content: space-between;
    padding-left: 0.7rem;
    padding-right: 0.5rem;
    align-items: center;
}